@model  Website.Models.AlbumUploadModel
<div>
    <div class="container-sm">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 align-content-md-center" style="color:ActiveCaption">
                <h2> Upload File </h2>
                <br />
                @using (Html.BeginForm("UploadFiles", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateAlbum" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.AlbumName, "Album name ", new { })
                        <br />
                        @Html.TextBoxFor(model => model.AlbumName)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Files, "Uploaded Files ")
                        @{
                            var filenames = (Model.Files == null || Model.Files.Count == 0) ? string.Empty : string.Join(", ", Model.Files.Select(m => m.FileName).ToArray());
                        }
                        @Html.TextBoxFor(model => model.Files, "image/jpeg|png", new { type = "file", @class = "form-control-file", @multiple = true })
                        @Html.TextAreaFor(model => filenames, new { @class = "form-control", row = 3, @readonly = true })
                        <br />
                        <input type="submit" value="Upload" />
                    </div>
                }
                @section Scripts{
                    
                }

            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2 class="align-content-center"">
            <div id="result"></div>
            <p>@ViewBag.Message</p>
            </div>
            <div class="col-sm-5"></div>
        </div>
    </div>
</div>