<!-- body Start-->
<!--Navigation start-->
<nav class="navbar navbar-expand-md bg-dark fixed-top">
    <a class="navbar-brand" href="#" name="@ViewBag.Title"><img class="img-thumbnail" src="./images/getimage/3" /><span class="navbar-text navbar-light">   @ViewBag.WebsiteName</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon">Menu</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#aboutUs">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#activities">Activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#whatsNew">What's New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#downloads">Downloadables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#contactUs">Contact us</a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>*@
        </ul>
    </div>
</nav>
<!--Navigation end-->
<!--Start Home-->
<div id="home">
    @Html.Partial("home")
</div>
<!--End Home-->
<!--About us Start-->
<div id="aboutUs" class="offset">
    @* @Html.Partial("aboutUs");*@
</div>
<!--About us End-->
<!--activities Start-->
<div id="activities" class="offset">
    @*  @Html.Partial("activities");*@
</div>
<!--activities End-->
<!--whatsNew Start-->
<div id="whatsNew" class="offset">
    @* @Html.Partial("whatsNew");*@
</div>
<!--whatsNew End-->
<!--gallery Start-->
<div id="gallery" class="offset">
    @* @Html.Partial("gallery");*@
</div>
<!--gallery End-->
<!--Downloads Start-->
<div id="downloads" class="offset">
    @*  @Html.Partial("downloads");*@
</div>
<!--Downloads End-->
<!--Contact us start-->
<div id="contactUs" class="offset">
    @* @Html.Partial("contactUs");*@
</div>
<!--Contact us end-->
<!-- body End-->
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year</p>
</footer>






